<header fxFlex="100" fxLayout="row" fxLayoutAlign=" center" > 
    <div  class="cuadro-1 "  fxFlex="10" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 60px; width: 50px;" fxLayout="row" >
        <a   style="display: block; height: auto; text-align: center;">
            <img class="img-icon" src="../../assets/icon/tiendas.svg">
         </a>
         <div fxLayout="column" fxLayoutAlign="center center" >
          <a   style="font-size: 15px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
             Nuestras
          </a>
          <a   style="font-size: 15px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
            Tiendas
         </a>
         </div>

    </div>
      <div fxFlex="70"  class="cuadro-2" fxLayoutAlign="start center" style="height: 60px;">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >

        <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
            <img class="img-icon" src="../../assets/icon/email.svg">      
           </a>

           <a   style="font-size: 15px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
            informes@infotech.com.pe
        </a>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >

            <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
                <img class="img-icon" src="../../assets/icon/whatsapp.svg"> 
            </a>
    
               <a   style="font-size: 15px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
                946 069 436
            </a>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >

                <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
                    <img class="img-icon" src="../../assets/icon/callcenter.svg">
                </a>
        
                <a   style="font-size: 15px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
                    946 069 436
                </a>
                </div>

      </div>
      <div fxFlex="20"  class="cuadro-3" fxLayoutAlign="center center" style="height: 60px;" fxLayoutGap="15px" >
        <a   style="display: block; height: auto; text-align: center;">
            <img class="img-compra" src="../../assets/icon/shopping cart.svg">
         </a>
         <div fxLayout="Row" fxLayoutAlign="center center" >
          <a   style="font-size: 19px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
             S/.
          </a>
          <a   style="font-size: 21px; display: block; height: auto; text-align: center; font-family: Montserrat, Helvetica, sans-serif; color: white;">
            0
         </a>
         </div>
      </div>
  </header>
  