.text-nuevo{
    color: #2F538C;
    text-transform: uppercase;
    font-size: 1.25em;
    border-bottom: 4px solid #ff9306;
    padding: 10px;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
}

