 <div fxFlex="100" class="header" id="myHeader" fxLayout="row" fxLayoutAlign=" center" > 
    <div    fxFlex="30" fxLayoutAlign="start center" fxLayoutGap="10px" style="height: 100px; width: 50px;" fxLayout="row" >
        <a  href="#" style="display: block; height: auto; text-align: center;">
            <img  class="img-icon-logo" src="../../assets/img/logo-info.png">
         </a>
        

    </div>
      <div fxFlex="70" fxLayout="row"   fxLayoutAlign="end center" style="height: 100px;">

     <!-- COMPUTADORA SECTION -->

     <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
        <button class="dropbtn"  fxLayoutGap="10px">
            <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
    
                <img class="img-icon" src="../../assets/icon/pc.svg">
            </a>
           
        </button>
       <a   class="text-icon">
                COMPUTADORA
             </a>
        <div class="dropdown-content mega-menu animate">
          <ul>
          <li class="title">Electronics & Gadgets</li>
          <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
    
          </ul>
          <ul>
          <li class="title">Home & Furniture</li>
          <li class="animate"><a href="">Kitchen & Accessories</a></li>
    
          </ul>
           <ul>
          <li class="title">Books & Kids</li>
          <li class="animate"><a href="">Kids & Accessories</a></li>
    
          </ul>
           <ul>
          <li class="title">Men & Women</li>
          <li class="animate"><a href="">Men Clothing</a></li>
    
          </ul>
          <ul>
          <li class="title">Groceries</li>
          <li class="animate"><a href="">Fruits & Veggies</a></li>
         
          </ul>
           <ul>
          <li class="title">Online Recharges</li>
          <li class="animate"><a href="">Mobile Recharges</a></li>
    
          </ul>
        </div>
      </div> 
<!-- /COMPUTADORA SECTION -->
<!-- LAPTOPS SECTION -->

        <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
            <button class="dropbtn"  fxLayoutGap="10px">
                <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
        
                    <img class="img-icon" src="../../assets/icon/laptop.svg">
                </a>
               
            </button>
           <a   class="text-icon">
                    Laptops
                 </a>
            <div class="dropdown-content mega-menu animate">
              <ul>
              <li class="title">Electronics & Gadgets</li>
              <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
        
              </ul>
              <ul>
              <li class="title">Home & Furniture</li>
              <li class="animate"><a href="">Kitchen & Accessories</a></li>
        
              </ul>
               <ul>
              <li class="title">Books & Kids</li>
              <li class="animate"><a href="">Kids & Accessories</a></li>
        
              </ul>
               <ul>
              <li class="title">Men & Women</li>
              <li class="animate"><a href="">Men Clothing</a></li>
        
              </ul>
              <ul>
              <li class="title">Groceries</li>
              <li class="animate"><a href="">Fruits & Veggies</a></li>
             
              </ul>
               <ul>
              <li class="title">Online Recharges</li>
              <li class="animate"><a href="">Mobile Recharges</a></li>
        
              </ul>
            </div>
          </div> 
<!-- /LAPTOPS SECTION -->

<!-- ZONA GAMER SECTION -->
            <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
                <button class="dropbtn"  fxLayoutGap="10px">
                    <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
            
                        <img class="img-icon" src="../../assets/icon/psp.svg">
                    </a>
                   
                </button>
               <a   class="text-icon">
                        Zona Gamer
                     </a>
                <div class="dropdown-content mega-menu animate">
                  <ul>
                  <li class="title">Electronics & Gadgets</li>
                  <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
            
                  </ul>
                  <ul>
                  <li class="title">Home & Furniture</li>
                  <li class="animate"><a href="">Kitchen & Accessories</a></li>
            
                  </ul>
                   <ul>
                  <li class="title">Books & Kids</li>
                  <li class="animate"><a href="">Kids & Accessories</a></li>
            
                  </ul>
                   <ul>
                  <li class="title">Men & Women</li>
                  <li class="animate"><a href="">Men Clothing</a></li>
            
                  </ul>
                  <ul>
                  <li class="title">Groceries</li>
                  <li class="animate"><a href="">Fruits & Veggies</a></li>
                 
                  </ul>
                   <ul>
                  <li class="title">Online Recharges</li>
                  <li class="animate"><a href="">Mobile Recharges</a></li>
            
                  </ul>
                </div>
              </div> 
         
<!-- /ZONA GAMER SECTION -->

<!-- PARTES PC SECTION -->

                <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
                    <button class="dropbtn"  fxLayoutGap="10px">
                        <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
                
                            <img class="img-icon" src="../../assets/icon/reparacion.svg">
                        </a>
                       
                    </button>
                   <a   class="text-icon">
                            Partes de PC
                         </a>
                    <div class="dropdown-content mega-menu animate">
                      <ul>
                      <li class="title">Electronics & Gadgets</li>
                      <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
                
                      </ul>
                      <ul>
                      <li class="title">Home & Furniture</li>
                      <li class="animate"><a href="">Kitchen & Accessories</a></li>
                
                      </ul>
                       <ul>
                      <li class="title">Books & Kids</li>
                      <li class="animate"><a href="">Kids & Accessories</a></li>
                
                      </ul>
                       <ul>
                      <li class="title">Men & Women</li>
                      <li class="animate"><a href="">Men Clothing</a></li>
                
                      </ul>
                      <ul>
                      <li class="title">Groceries</li>
                      <li class="animate"><a href="">Fruits & Veggies</a></li>
                     
                      </ul>
                       <ul>
                      <li class="title">Online Recharges</li>
                      <li class="animate"><a href="">Mobile Recharges</a></li>
                
                      </ul>
                    </div>
                  </div> 
 
 <!-- /PARTES PC SECTION -->
                 
<!-- MONITORES SECTION -->

                    <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
                        <button class="dropbtn"  fxLayoutGap="10px">
                            <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
                    
                                <img class="img-icon" src="../../assets/icon/monitor.svg">
                            </a>
                           
                        </button>
                       <a   class="text-icon">
                                Monitores
                             </a>
                        <div class="dropdown-content mega-menu animate">
                          <ul>
                          <li class="title">Electronics & Gadgets</li>
                          <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
                    
                          </ul>
                          <ul>
                          <li class="title">Home & Furniture</li>
                          <li class="animate"><a href="">Kitchen & Accessories</a></li>
                    
                          </ul>
                           <ul>
                          <li class="title">Books & Kids</li>
                          <li class="animate"><a href="">Kids & Accessories</a></li>
                    
                          </ul>
                          
                        </div>
                      </div> 
                      
<!--/ MONITORES SECTION -->


<!-- IMPRESORA SECTION -->

            <div class="borde-right row-fila dropdown" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
                <button class="dropbtn"  fxLayoutGap="10px">
                    <a   style="display: block; height: auto; text-align: center; padding-left: 10px;" >
            
                        <img class="img-icon" src="../../assets/icon/impresora.svg">
                    </a>
                   
                </button>
               <a   class="text-icon">
                        Impresora
                     </a>
                <div class="dropdown-content mega-menu animate">
                  <ul>
                  <li class="title">Electronics & Gadgets</li>
                  <li class="animate"><a href="">Mobile Phones & Accessories</a></li>
            
                  </ul>
                  <ul>
                  <li class="title">Home & Furniture</li>
                  <li class="animate"><a href="">Kitchen & Accessories</a></li>
            
                  </ul>
                   <ul>
                  <li class="title">Books & Kids</li>
                  <li class="animate"><a href="">Kids & Accessories</a></li>
            
                  </ul>
                   <ul>
                  <li class="title">Men & Women</li>
                  <li class="animate"><a href="">Men Clothing</a></li>
            
                  </ul>
                  <ul>
                  <li class="title">Groceries</li>
                  <li class="animate"><a href="">Fruits & Veggies</a></li>
                 
                  </ul>
                   <ul>
                  <li class="title">Online Recharges</li>
                  <li class="animate"><a href="">Mobile Recharges</a></li>
            
                  </ul>
                </div>
              </div> 
   
     <!-- /IMPRESORA SECTION -->
              


           </div>                 


   
     
    </div>
  
   


  