<div fxLayout="row" style="padding-top: 25px; margin: 0 35px auto; ">
    <div class="text-nuevo">
        Lo Nuevo de Infotech
      </div>
</div>
<div fxLayout="row" style="padding-top: 25px; " fxLayout.md="row" fxLayout.sm="row"   fxLayout.xs="column" fxLayoutAlign="center center"   fxLayoutGap="25px">
 
    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/product_3.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>


    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/product_3.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>

     <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/product_3.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/product_3.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>
            
</div>



<div fxLayout="row" style="padding-top: 25px; margin: 0 35px auto;">
    <div class="text-nuevo">
        OFERTAS
      </div>
</div>
<div fxLayout="row" style="padding-top: 25px; " fxLayout.md="row" fxLayout.sm="row"   fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="25px">
 
    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/product_3.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>


    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/product_3.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>

     <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/product_3.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/product_3.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>
            
</div>

<div fxLayout="row" style="padding-top: 25px; ">
<div class="carousel-item">
    <img src="../../assets/img/slider-01.jpg">
</div>

</div>

<div fxLayout="row" style="padding-top: 25px; margin: 0 35px auto; ">
    <div class="text-nuevo">
       LAPTOPS
      </div>
</div>
<div fxLayout="row" style="padding-top: 25px; "  fxLayout.md="row" fxLayout.sm="row"   fxLayout.xs="column" fxLayoutAlign="center center"  fxLayoutGap="25px">
 
    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/LAPTOP-1.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>


    <div class="card">
        <div class="imgBx">
            <img src="../../assets/img/LAPTOP-1.jpg" alt="">
        </div>
        <div class="logo-brand">
          <a href="">
                                          <img src="../../assets/img/119-mf_image.jpg" alt="">
                                     
          </a>
      </div>
        <div class="contextBx">
            <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
            <p class="price">S/.257<!-- <small>.22</small> --></p>
            <a href="#" class="buy">Comprar</a>
        </div>
    </div>

     <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/LAPTOP-1.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="../../assets/img/LAPTOP-1.jpg" alt="">
                </div>
                <div class="logo-brand">
                  <a href="">
                                                  <img src="../../assets/img/119-mf_image.jpg" alt="">
                                             
                  </a>
              </div>
                <div class="contextBx">
                    <p class="text-name">MAINBOARD MSI A320M-A PRO MAX (911-7C52-004) AM4</p>
                    <p class="price">S/.257<!-- <small>.22</small> --></p>
                    <a href="#" class="buy">Comprar</a>
                </div>
            </div>
            
</div>