<div fxLayout="column">
<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="padding-top: 25px; margin: 0 35px auto;">
    <div class="text-nuevo">
      PRINCIPALES MARCAS
      </div>
      
</div>
<div fxLayout="row" fxLayout.xs="column" style="margin: 0px 40px auto;">
<div fxLayout="row" fxFlex="33" >
    <div >
      <img style="margin-bottom:55px" src="https://www.infotec.com.pe/themes/infotec/assets/img/icon/prize.svg" alt="Icon">
      </div>
      <div fxLayout="column" >
              <div >
                GARANTÍA
                 </div>

           <div >
            Todos Nuestro Productos Cuentan con Garantía de Marca, Nuevos y Origínales, Respaldadas por Las Mejores Marcas del Mercado Tecnológico.
            </div>
        </div> 
</div>

<div fxLayout="row" fxFlex="33" >
  <div >
    <img style="margin-bottom:55px" src="https://www.infotec.com.pe/themes/infotec/assets/img/icon/prize.svg" alt="Icon">
    </div>
    <div fxLayout="column" >
            <div >
              PRECIOS INSUPERABLES

               </div>

         <div >
          En Grupo Infotec Siempre Encontraras Los Mejores Precios, Ofertas, Promociones y Regalos. Todos los peruanos Merecemos el Mejor Producto al menor Precio.          </div>
      </div> 
</div>
<div fxLayout="row" fxFlex="33" >
  <div >
    <img style="margin-bottom:55px" src="https://www.infotec.com.pe/themes/infotec/assets/img/icon/prize.svg" alt="Icon">
    </div>
    <div fxLayout="column" >
            <div >
              MEJOR ATENCIÓN

               </div>

         <div >
          Contamos Con Los Mejores Colaboradores Capacitados Motivados para Ofrecerle La Mejor Atención que Ud. se Merece. "Cuida de tus Empleados que ellos cuidaran de tus Clientes"          </div>
      </div> 
</div>



</div>

<div fxLayout="row" fxLayout.xs="column" style="margin: 0px 40px auto;">
  <div fxLayout="row" fxFlex="33" >
      <div >
        <img style="margin-bottom:55px" src="https://www.infotec.com.pe/themes/infotec/assets/img/icon/prize.svg" alt="Icon">
        </div>
        <div fxLayout="column" >
                <div >
                  TE AYUDAMOS A COMPRAR

                   </div>
  
             <div >
              No Tienes Idea de Cómo Adquirir el Producto que Deseas, te Facilitamos Asesoría Inmediata.
             </div>
          </div> 
  </div>
  
  <div fxLayout="row" fxFlex="33" >
    <div >
      <img style="margin-bottom:55px" src="https://www.infotec.com.pe/themes/infotec/assets/img/icon/prize.svg" alt="Icon">
      </div>
      <div fxLayout="column" >
              <div >
                NUESTRAS TIENDAS

                 </div>
  
           <div >
            Cada Vez Estamos más Cerca de ti. Conoce Nuestras Tiendas.           
           </div>
        </div> 
  </div>
  <div fxLayout="row" fxFlex="33" >
    <div >
      </div>
      <div fxLayout="column" >
              <div >
                
                 </div>
  
           <div >
            </div>
        </div> 
  </div>
 
  
  
  
  </div>
</div>