<div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 25px; margin: 0 35px auto;">
    <div class="text-nuevo">
      PRINCIPALES MARCAS
      </div>
      
</div>
<div fxLayout="row" style="padding-top: 25px; margin: 0 35px auto;"   fxLayout.xs="column"  fxLayoutGap="25px">
 
    <div style="width: 100%;">
        <owl-carousel-o [options]="customOptions">
        
          <ng-template carouselSlide>
            
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
    

          </ng-template>
          
          <ng-template carouselSlide>
            
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
    

          </ng-template>

          <ng-template carouselSlide>
            
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
    

          </ng-template>


          <ng-template carouselSlide>
          
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
        
          </ng-template>  


          <ng-template carouselSlide>
           
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
    

          </ng-template>  

          <ng-template carouselSlide>
            
            <div class="logo-brand">
                <a href="">
                                                <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>

          </ng-template>



          <ng-template carouselSlide>
           
            <div class="logo-brand">
                <a href="">
                 <img src="../../assets/img/hp1.png" alt="">
                                           
                </a>
            </div>
          </ng-template>  


        </owl-carousel-o>
      
      </div>
   
            
</div>


